// TODO
// [] Setar container padrao

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.exitPreviewLink {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 3rem 0;

  a {
    padding: 1rem 3rem;
    background: var(--highlight);
    color: var(--title);
    font-weight: 600;
    border-radius: 1rem;
  }
}
